// Colours
// _______________________________________________________

$green: #07b794;
$red: #ea3f59;
$lightGrey: #EEE;
$white: #fff;
$darkGrey: #ddd;
$mainBg: #eee;

.todos {
    padding-top: 5px;

    &__item {
        background: $mainBg;
        transition: all 0.3s ease-out;

        &:first-of-type {
            border-radius: 15px 15px 0 0;
        }
        &:last-of-type {
            border-radius: 0 0 15px 15px;
        }
        &:hover {
            background: $darkGrey;
        }
        &:not(:last-child) {
            border-bottom: 1px solid $darkGrey;
        }
        &__text {
            border-left: 1px solid $darkGrey;
            padding-left: 10px !important;
        }
        &__remove {
            color: $red;
            font-size: 30px;
            line-height: 30px;
            cursor: pointer;
        }
        &.--completed, &.--incomplete {
            .todos__item__toggle {
                width: 30px;
                height: 30px;
                background-color: $green;
                border-radius: 50%;
                margin-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                box-shadow: inset 2px 0 3px #444;
                border: 1px solid #eee;
                cursor: pointer;

                &::before {
                    content: "\2714";
                    font-size: 16px;
                }
            }
        }
        &.--completed {
            position: relative;

            &::after {
                content: "";
                width: 100%;
                height: 1px;
                position: absolute;
            }
        }
        &.--incomplete {
            .todos__item__toggle {
                background-color: #fff;

                &::before {
                    content: "";
                }
            }
        }
    }
}