.todos {
    &__total {
        padding-right: 15px;

        .tag {
            margin: 0 5px;
        }
    }
    &__create {
        input[type=text] {
            width: 100%;
            height: 50px;
        }
    }
}